
body {
    background-image: url(/images/background.png);
}




#main {
    background-color: rgba(53, 51, 51, 0.6);
    margin: 130px;
    padding: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 625;
    box-shadow: 38px 38px 11px black;
}

#title {
  text-align: center;
    margin: 110px 0 110px 0;
    font-family: 'Roboto', sans-serif;  
    font-size: 45px;
    

}


.container {
    display: grid; 
    width: 100%;
    grid-template-columns: 2fr 1fr;
}




footer {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
}







.img-div {
    text-align: center;
}

image {
    max-width: 100%;
    display: block;
    height: auto;
}