body {
    background-color: rgb(226, 224, 224);
}

#main {
    background-color: rgb(177, 180, 180);
    margin: 10px;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    color: #080808;
    border-radius: 20px;
}

#title {
    text-align: center;
    margin: 45px 0 60px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}

.img-div {
    text-align: center;
    margin-bottom: 47px;
}

#image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

#img-caption {
    margin-top: 35px;
}

hr {
    border: solid 2px black;
    margin: 10px;
}

#tribute-info {
    text-align: justify;
    padding: 25px;
}

blockquote {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

#timeline {
    padding: 25px;
}

#tribute-link {
    margin-top: 75px;
    text-align: center;
}

#tribute-link a {
    color: black;
}

footer {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 35px;
}

/* Making it responsive on larger screens */

@media only screen and (min-width:768px) {
    #main {
        margin: 50px;
        padding: 85px;
        box-shadow: 38px 38px 11px black;
    }
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 3fr 2fr;
        grid-gap: 25px;
    }
}